[submodule "rpm_contrib"]
	path = rpm_contrib
	url = git@github.com:newrelic/rpm_contrib.git
[submodule "newrelic-httpclient"]
	path = newrelic-httpclient
	url = git@github.com:yuki24/newrelic-httpclient.git
[submodule "newrelic-redis"]
	path = newrelic-redis
	url = git@github.com:evanphx/newrelic-redis.git
[submodule "newrelic_moped"]
	path = newrelic_moped
	url = git@github.com:stevebartholomew/newrelic_moped.git
[submodule "newrelic-faraday"]
	path = newrelic-faraday
	url = git@github.com:Viximo/newrelic-faraday.git
[submodule "newrelic-riak"]
	path = newrelic-riak
	url = git@github.com:alinpopa/newrelic-riak.git
[submodule "newrelic-workling"]
	path = newrelic-workling
	url = git@github.com:aurorafeint/newrelic-workling.git
[submodule "newrelic-sequel"]
	path = newrelic-sequel
	url = git@github.com:realestate-com-au/newrelic-sequel.git
