[submodule "rpm_contrib"]
	path = rpm_contrib
	url = git@github.com:newrelic/rpm_contrib.git
[submodule "newrelic-httpclient"]
	path = newrelic-httpclient
	url = git@github.com:yuki24/newrelic-httpclient.git
[submodule "newrelic-redis"]
	path = newrelic-redis
	url = git@github.com:evanphx/newrelic-redis.git
[submodule "newrelic_moped"]
	path = newrelic_moped
	url = git@github.com:stevebartholomew/newrelic_moped.git
[submodule "newrelic-faraday"]
	path = newrelic-faraday
	url = git@github.com:Viximo/newrelic-faraday.git
[submodule "newrelic-riak"]
	path = newrelic-riak
	url = git@github.com:alinpopa/newrelic-riak.git
[submodule "newrelic-workling"]
	path = newrelic-workling
	url = git@github.com:aurorafeint/newrelic-workling.git
[submodule "newrelic-sequel"]
	path = newrelic-sequel
	url = git@github.com:realestate-com-au/newrelic-sequel.git
[submodule "newrelic-excon"]
	path = newrelic-excon
	url = git@github.com:helle/newrelic-excon.git
[submodule "newrelic-grape"]
	path = newrelic-grape
	url = git@github.com:flyerhzm/newrelic-grape.git
[submodule "newrelic-rake"]
	path = newrelic-rake
	url = git@github.com:flyerhzm/newrelic-rake.git
[submodule "newrelic-vertica"]
	path = newrelic-vertica
	url = git@github.com:wvanbergen/newrelic-vertica.git
[submodule "newrelic_mongo"]
	path = newrelic_mongo
	url = git@github.com:raphaelcm/newrelic_mongo.git
[submodule "newrelic-carrierwave"]
	path = newrelic-carrierwave
	url = git@github.com:tehprofessor/newrelic-carrierwave.git
[submodule "newrelic-devise"]
	path = newrelic-devise
	url = git@github.com:mathieuravaux/newrelic-devise.git
[submodule "newrelic-middleware"]
	path = newrelic-middleware
	url = git@github.com:twinturbo/newrelic-middleware.git
